* {
	padding: 0;
	margin: 0;
	font-family: '微軟正黑體';
}

body {
	font-family: '微軟正黑體' !important;
	overflow: hidden;
}

.container {
	position: relative;
}

.wrapper {
	width: 100vw;
	min-height: 100vh;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;
	.richers-main {
		height: calc(100vh - 70px);
		.circle {
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			img:nth-child(1) {
				animation: circleRotate 6s reverse infinite linear;
			}
			img:nth-child(2) {
				animation: circleRotate 6s infinite linear;
			}
			img:nth-child(3) {}
		}
	}
	.richers-menu-wrap {
		position: absolute;
		bottom: 7%;
		left: 50%;
		transform: translateX(-50%);
		.richers-menu-col {
			text-align: center;
			background-color: rgba(61, 58, 57, .5);
			color: #fff;
			border: 2px solid rgba(255, 255, 255, .5);
			font-weight: bold;
			transition: all .3s;
			white-space: nowrap;
			flex-basis: 22%;
			width: 22%;
			display: inline-block;
			&:hover {
				text-decoration: none;
				border-color: rgba(255, 0, 0, 0.534);
			}
			&.active {
				border-color: rgba(255, 0, 0, 0.534);
			}
		}
	}
}

// 彈出MODAL
.menu-modal {
	width: 100vw;
	max-height: 70vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.1);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(42%, rgba(255, 255, 255, 1)), color-stop(62%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.1)));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.1) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.1) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.1) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.1) 100%);
	opacity: 0;
	transition: all .3s linear;
	display: none;
	overflow-y: auto;
	&.show {
		opacity: 1;
	}
	.modal-close {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 30px;
		right: 30px;
		cursor: pointer;
		z-index: 123;
	}
	.container {
		display: none;
		&.show {
			display: block;
		}
	}
	[data-modal="contact"] {
		.form-group {
			margin-bottom: .5rem;
			label {
				color: #000;
			}
		}
		.richers-btn {
			cursor: pointer;
			background: rgba(20, 84, 116, 1);
			background: linear-gradient(to right, rgba(20, 84, 116, 1) 0%, rgba(2, 23, 48, 1) 100%);
			color: #fff;
			padding-top: 0.5em;
			padding-bottom: .5rem;
			width: 30%;
			&:active {
				background: rgba(20, 84, 116, 1) !important;
				background: linear-gradient(to right, rgba(20, 84, 116, 1) 0%, rgba(2, 23, 48, 1) 100%) !important;
				color: #fff;
			}
		}
	}
}

// 問答中心FAQ
.faq-item {
	&.active {
		.faq-title {
			.fa-plus-square {
				display: none;
			}
			.fa-minus-square {
				display: block;
			}
		}
		.faq-content {
			display: block;
		}
	}
	.faq-title {
		cursor: pointer;
		.fa {
			font-size: 1.3rem;
			color: #ff3c00;
		}
		.fa-plus-square {
			display: block;
		}
		.fa-minus-square {
			display: none;
		}
	}
	.faq-content {
		display: none;
	}
}

@media (max-width: 575px) {
	.circle {
		width: 786px;
		height: 785px;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%) scale(.45);
	}
	.richers-menu-col {
		padding-top: .5rem;
		padding-bottom: .5rem;
		font-size: 1rem;
	}
	.menu-modal {
		background: #fff;
	}
}

@media (min-width: 576px) {
	.circle {
		width: 786px;
		height: 785px;
		position: absolute;
		top: -13%;
		right: -16%;
		transform: scale(.7);
	}
	.richers-menu-col {
		padding-top: .5rem;
		padding-bottom: .5rem;
		width: 22%;
		text-align: center;
		padding-left: .5rem;
		letter-spacing: .5rem;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.circle {
		width: 786px;
		height: 785px;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%) scale(.6);
	}
	.richers-menu-col {
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.circle {
		position: absolute;
		top: 35%;
		left: 75%;
		transform: translate(-50%, -50%) scale(.6);
	}
	.img-man {
		position: absolute;
		top: 0%;
		left: -10%;
		transform: scale(.8);
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.img-man {
		position: absolute;
		top: 10%;
		left: 0%;
	}
}

@media (min-width: 1200px) {
	.img-man {
		position: absolute;
		top: 10%;
		left: 0%;
	}
	.richers-menu-col {
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
}

@keyframes circleRotate {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}